{% extends 'base.html' %}

{% block title %}Play Me - Logged Out{% endblock %}

{% block content %}
  <script>
    function redirect(){
       window.location.href = "/";
    }

    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
</script>
    <div class="container">
      <div class="row justify-content-center">
          <div style="padding-top:50px">
              <p> You are logged out now, you will be redirected to home page soon. </p>
          </div>
      </div>
    </div>
{% endblock %}
