{% extends 'base.html' %}

{% block title %}Play Me - Logged Out{% endblock %}

{% block content %}
<head>
  <script>
    function redirect(){
       window.location.href = "/";
    }

    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
</script>
</head>
<body>
  <div class="text-center">
    <div class="container">
      <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
          <div class="panel-heading">
            <div class="panel-title content ">Logout</div>
          </div>
          <div style="padding-top:30px" class="panel-body" >
              <p> You are logged out now, you will be redirected to home page soon. </p>
          </div>
        </div>
    </div>
  </div>
</body>
{% endblock %}
