{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">

                        <form class="form-horizontal" method="post">
                              <div style="margin-top:10px" class="form-group text-center" >
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                        <button type="submit" class="btn btn-success btn-block">Login</button><br><p>Or</p>
                                          <div class="row">
                                              <div class="col-6">
                                                  <a class="btn btn-outline-light btn-block mr-0" style= "background: black;" href="{% url 'social:begin' 'github' %}">
                                                    <i class="fab fa-github"></i> Github
                                                  </a>
                                              </div>
                                              <div class="col-6">
                                                  <a class="btn btn-outline-light btn-block ml-0" style= "background: #dd4b39;" href="{% url 'social:begin' 'google-oauth2' %}">
                                                    <i class="fab fa-google-plus-g"></i> Google Plus
                                                  </a>
                                              </div>
                                          </div>
                              </div>
                              <div class="form-group">
                                      <div style="border-top: 1px solid#888; padding-top:15px; font-size:85% " >
                                          Don't have an account?<a href="{% url 'signup' %}">  Sign Up Here! </a>
                                      </div>
                              </div>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
              </div>
{% endblock %}
