{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h2 class="text-center">Sign up</h2>
                <div class="text-left">
                  <form method="post">
                      {% csrf_token %}
                      {% for field in form %}
                        <p>
                          {{ field.label_tag }}<br>
                          {{ field }}
                          {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                          {% endif %}
                          {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                          {% endfor %}
                        </p>
                        {% endfor %}
                      <button type="submit" class="btn btn-success">Sign up</button>
                        <a id="btn-glogin" href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary">Login with Google</a>
                        <a id="btn-glogin" href="{% url 'social:begin' 'github' %}" class="btn btn-primary">Login with Github</a>
                  </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
