{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}PlayMe Game Store{% endblock %}</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel ="stylesheet" type="text/css" href = "{% static 'playme/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    	<script src="{% static  'js/jquery-2.1.4.js' %}"></script>
    	<script src="{% static  'js/bootstrap.js' %}"></script>
    	<script src="{% static '/js/ie-emulation-modes-warning.js' %}"></script>
  </head>
  <body>
      {% include "navbar.html" %}
      <div class="row" style = "background-color: Silver">
      </div>

      <div class="row"  style = "background-color: Silver">
          <div class="col-md-1">
          </div>
          <div class="col-md-10" >
                {% block content %}
                {% endblock %}
          </div>
          <div class="col-md-1" >
          </div>
      </div>
      {% include "footer.html" %}
  </body>
</html>
