{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="fb-root"></div>
  <script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	
			<div class="card h-100">
			    <div class="card-body">
						<div class="row">
									<div class="col-lg-4 col-sm-6 col-xs-12">
										<img class  = "img-responsive" src = "{{MEDIA_URL}}/{{game.thumbnail}}" width="200" height="200" alt = "logo">
									</div>
									<div class="col-lg-4 col-sm-6 col-xs-12">
  							      <h4 class="card-title">{{game.name}}</h4>
  										<p class="card-text">Description:{{game.description}}</p>
  										<p class="card-text">Developed by: {{game.developer.user.first_name}} {{game.developer.user.last_name}}</p>
                      <h4> Purchased {{game.purchase_number}}<h4>
                        <p> Game price: {{game.price}}$</p>
  								</div>
									<div class="col-lg-4 col-sm-6 col-xs-12">
                    {% if user_has_bought_game or is_developers_game %}
                    <a href="/play/{{game.id}}" class="btn btn-primary" role="button">Play</a>
                    {% else %}
                    <a href="/payment/{{game.id}}" class="btn btn-primary" role="button">Buy for {{game.price}}$</a>
										{% endif %}
									</div>
										<div class="col-lg-4 col-sm-6 col-xs-12"></div>
										<div class="fb-share-button" 
										data-href="http://demo-playme.herokuapp.com/{{game.id}}" 
										data-layout="button_count">
									</div>

								
								<script src="https://apis.google.com/js/platform.js" async defer>
									</script>
								<g:plus href="http://demo-playme.herokuapp.com/{{game.id}}" action="share"></g:plus>


								<!-- <a href="https://plus.google.com/share?url=http%3A//demo-playme.herokuapp.com/5" target="_blank" class="btn btn-danger breath" role="button">Share on Google+</a> -->

									</div>
						</div>
			    </div>
		  </div>
{% endblock %}
