{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
  	<div class="row">
  		<br>
  	</div>
  	<div class="row" >
  			<div class="col-md-1">
  			</div>
  			<div class="col-md-10" >
            <div class="panel panel">
                <div class="panel-body table-responsive">
                  <div class="list-group">
                    {% for game in games %}
                  		<a class="list-group-item">
                          <div class="row" >
                      				<div class="media col-md-3">
                      						<figure class="pull-left">
                      								<img class  = "img-responsive" src = "{{MEDIA_URL}}/{{game.thumbnail}}" width="150" height="150" alt = "logo">
                      						</figure>
                      				</div>
                      				<div class="col-md-4">
                      						<h4 class="list-group-item-heading pb-3"> {{game.name}} </h4>
                      						<p class="list-group-item-text"> {{ game.description }}</p>
                      						<p><small> No. of purchases: {{ game.purchase_number}} </small></p>
                      				</div>
                      				<div class="col-md-3 pull-left">
                      						<div class = "container col-md-12">
                      								<div class = "row">
                      										<div class="col-md-12 pull-left"><i class="fa fa-check-square"></i> Uploaded on {{game.date}}</div>
                      								</div>
                      						</div>
                      				</div>
                      				<div class="col-md-2 text-center">
                      						<p> Price:{{ game.price}}$ </p>
                      						<button type="button" class="btn btn-primary btn-sm btn-block" onclick="location.href='/upload/edit/?&id={{game.id}}';" >Edit game</button>
                              </div>
                            </div>
                          </a>

                          {% empty %}
                      				<div class=" text-center list-group-item">
                      						<h4>You haven't uploaded any game yet.<h4>
                      				</div>
                    {% endfor %}
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-1" >
          </div>
      </div>
  </div>
{% endblock %}
