{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block content %}

	<div class="container container2">
		<div class="row text-center">
				{% for game in games %}
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4">
					<div class="card h-100">
							<img class="card-img-top img-responsive" src="{{MEDIA_URL}}/{{game.thumbnail}}", alt="logo" data-toggle="modal" data-target="#project1">
							<div class="card-body">
							  <h4 class="card-title">{{game.name}}</h4>
							  <p class="card-text">{{game.developer}}</p>
							</div>
							<div class="card-footer">
							<p><a href="/upload/edit/?&id={{game.id}}" class="btn btn-primary" role="button"> Edit </a>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
</body>
{% endblock %}
