{% load static %}
<html lang = "en">
	<head>
	   <meta charset  = "utf-8">
	   <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
	   <meta name = "viewport" content  = "width = divice-width , initial-scale = 1">
	   <title>PlayMe Game Store</title>
       <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}">
       <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
	   <script src= "{% static  'js/jquery-2.1.4.js' %}" ></script>  
	   <script src= "{% static  'js/bootstrap.js' %}" ></script>
	   <script src="{% static '/js/ie-emulation-modes-warning.js' %}"></script>
	</head>
	<body>  
		<div class="container">
		<div class  = "row">
			<h2>There was an error in your purchase.</h2>
            <a href="/">Return to the homepage.</a><br />



        </body>
        </html>