{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block content %}
<div class="container">
  <br>
    <div class="row" >
    		<div class="col-md-1">
    		</div>
    		<div class="col-md-10" >
            <div class="table-responsive">
              <ul class="list-group">
                  {% for game in games %}
                    <a class="list-group-item">
                      <div class="row" >
                				<div class=" col-md-6 col-sm-6">
                						<figure class="pull-left">
                								<img class  = "img-responsive" src = "{{MEDIA_URL}}/{{game.thumbnail}}" width="120" height="120"	,alt = "logo">
                						</figure>
                				</div>
                        <div class="col-md-6 col-sm-6">
                          <div class="row">
                      				<div class="col-md-6 col-sm-6 col-xs-6">
                      						<h4> {{game.name}} </h4>
                                  <h5><small>Your Score is: {{user_high_scores|get_item:game.name}}</small></h5>
                                </div>
                              <div class="col-md-6 col-sm-6 col-xs-6">
                                  <img src="{% static 'img/highest-score.jpg'  %}" width="90" height="90" alt="">
                                    <h5> {{game_high_scores|get_item:game.name}}</h5>
                              </div>
                          </div>
                        </div>
                      </div>
                    </a>
                    <hr>
                  {% endfor %}
              </ul>
            </div>
    		</div>
    		<div class="col-md-1" >
    		</div>
    </div>
</div>
{% endblock %}
