{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <script src="{% static '/js/game-service.js' %}"></script>
</head>
<div class="panel panel">
    <div class="panel-heading">
        <div class="row">
            <div class="media col-md-3">
                <figure class="pull-left">
                    <img class  = "img-responsive" src = "{{MEDIA_URL}}/{{game.thumbnail}}",alt = "logo">
                </figure>
            </div>
            <div class="col-md-9">
                <h2> {{ game.name }} </h2>
                <h4>{{game.description}}<h4>
            </div>
        </div>
     </div>
     <div>
       <hr>
     </div>

     <div id = "game_div" class = "row">
            <div class="row">
                    <table>
                            <caption>High Scores</caption>
                            <tr>
                                <th>Player</th>
                                <th>Score</th>
                            </tr>
                            {% for high_score in high_scores %}
                                <tr>
                                    <td>{{high_score.player__user__username}}</td>
                                    <td>{{high_score.current_score}}</td>
                                </tr>
                            {% endfor %}
                        </table>
        
                        <table>
                            <caption>Your Scores</caption>
                            <tr>
                                <th>Score</th>
                            </tr>
                            {% for player_score in player_scores %}
                                <tr><td>{{player_score.current_score}}</td></tr>
                            {% endfor %}
                        </table>
            </div>
            <p id="result"></p>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <iframe id="game_frame" src={{game.link}} width="800" height="600" frameborder="1" allowfullscreen></iframe>
            </div>
     </div>

</div>
{% endblock %}