{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<br>
	<br>


			<div class="row justify-content-center">
	        {% if malformed %}
	          <h3>Malformed purchase. Transaction not accepted</h3>
	        {% else %}
	          <h3 >You have successfully purchased the game</h3>
	        {% endif %}
        </div>
	<br>


						<div class="row justify-content-center">
		  						<figure class="pull-left">
		  								<img class  = "img-responsive" src = "{{MEDIA_URL}}/{{game.thumbnail}}" width="200" height="200",alt = "logo">
		  						</figure>
									</div>

									<div class="row justify-content-center">

		  						<h4 style="text-align:center"> {{game.name}} </h4>
</div>
<div class="row justify-content-center">
									{% if not malformed %}
											<form action="/play/{{game.id}}">
												<input class="btn btn-success" type="submit" name="play" value="Play"/>
											</form>
									{% endif %}
								</div>

						</div>
						<br>

{% endblock %}
