{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block content %}
<div class="panel panel-success" >
    <div class="panel-heading">
			<div class="row">
				<div class="col-md-10">
	        {% if malformed %}
	          <h2 class="text-center ">Malformed purchase. Transaction not accepted</h2>
	        {% else %}
	          <h2 class="text-center ">You have successfully purchased the game.</h2>
	        {% endif %}
				</div>
			</div>
    </div>
		<div class="list-group">
	  		<a class="list-group-item">
	  				<div class="media col-md-3">
	  						<figure class="pull-left">
	  								<img class  = "img-responsive" src = "{{MEDIA_URL}}/{{game.thumbnail}}" 	,alt = "logo">
	  						</figure>
	  				</div>
	  				<div class="col-md-4">
	  						<h4> {{game.name}} </h4>
								{% if not malformed %}
										<form action="/play/{{game.id}}">
											<input class="btn btn-success" type="submit" name="play" value="Play"/>
										</form>
								{% endif %}
	  				</div>
	      </a>
	  </div>
</div>
{% endblock %}
