.container2 {
  width: 800px !important;
}
.row{


padding-bottom: 10px;

}
body{

background-color:#ffffff; 


}
.pagination{

margin-left: 70% !important;


}
h1{

  color: #337ab7;


}

h2{

color: #337ab7;
	
}
h3{

color: #337ab7;
	
}
h4{

color: #337ab7;

}